.margin-top-5 {
    margin-top: 5px;
}

.margin-bot-5 {
    margin-bottom: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bot-10 {
    margin-bottom: 10px;
}

.children-margin-vert-10 > * {
    margin-top: 5px;
    margin-bottom: 5px;
}